<div id="dialog">
    <div id="dialog-content">
      <div id="dialog-text">
        <h1
          style="
            font-weight: bolder;
            font-family: 'Lucida Sans', 'Lucida Sans Regular',
              'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
              sans-serif;
          "
        >
          How would you like to pay?
        </h1>
      </div>
      <div id="dialog-actions">
        <button type="button" id="dialog-ok" (click)="openWallet()">
          <img
            class="icon1"
            src="../../assets/Wallet-icon-removebg-preview.png"
          />
        </button>
        <button type="button" id="dialog-ok" (click)="openPayment()">
          <img class="icon1" src="../../assets/onlinepayicon.png" />
        </button>
        <button type="button" id="dialog-cancel" (click)="OpenAfterBooking()">
          <img
            class="icon1"
            src="../../assets/cash-in-hand-icon-11549486230pl37r7u3fu-removebg-preview.png"
          />
        </button>
      </div>
    </div>
  </div>
