body {
	background-color: #3fb0ef !important;
  
}

.wallet-container {
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjOvSperRYjHH9-EHlKZJBfwvXy4rJpyerzHQsnp8DuuycYU5_);
		width: 320px;
		color: #fff;
		font-size: 15px;
		padding: 20px 20px 0;
		top: 55%;
		left: 50%;
		transform: translate(-50%,-50%);
		position: absolute;
  
  
}

.page-title {
	text-align: left;
}

.fa-user {
	float: right;
}

.fa-align-left {
	margin-right: 15px;
}

.amount-box img {
	width: 50px;
}

.amount {
	font-size: 35px;
	font-weight: bold;
	color:black;
}

.amount-box p {
	margin-top: 10px;
	margin-bottom: -10px;
}

.btn-group {
	margin: 20px 0;
}

.btn-group .btn {
	margin: 8px;
	border-radius: 20px !important;
	font-size: 12px;
}

.txn-history {
	font-weight: bolder;
	text-align: left;
}

.txn-list {
	background: linear-gradient(15deg, #9dc1b6 60%, #b3bdc0 20%);
	padding: 12px 10px; 
	color: rgb(14, 14, 14);
	font-size: 14px;
	margin: 7px 0;
	border-radius:20px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.txn-list:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
}

.debit-amount {
	color: red;
	float: right;
}

.credit-amount {
	color: green;
	float: right;

}

.footer-menu {
	margin: 20px -20px 0;
	bottom: 0;
	border-top: 1px solid #ccc;
	padding: 10px 10px 0;
}

.footer-menu p {
	font-size: 12px;
}

@media screen and (max-width: 800px){
  .wallet-container {
    height: 115%;
    bottom: 20px;
    margin-top: 0px;
    
  }
  
}

.mainscreen{
  /* background: linear-gradient(145deg, #08b783 50%, #298096 100%);
  color: #0c5741;
	border-radius: 1rem; */
	background: linear-gradient(145deg, #08b783 50%, #298096 100%);
  color: #0c5741;
	border-radius: 1rem;
	height: 70%;
	width: 50%;
	margin-right:0%;
	position: fixed;
	top: 15%;
	left: 25%;
}

.inputButton{
	font-weight: bolder;
	color: white;
	margin-left: 150px;
	margin-right: 30px;
	border-radius: 15px;
	background-color: #08b783;
	text-align: center;
}
.inputButton :hover{
	background-color: #0c5741;
}

.button{
	border: black;
	font-size: larger;
	font-weight: bolder;
	padding: 10px;
}


