<!-- <app-google-maps></app-google-maps> -->
<!-- <app-map-marker></app-map-marker> -->
<!-- <app-location></app-location> -->
<!-- <app-google-map-traffic></app-google-map-traffic> -->
<!-- <app-google-map-ground-overlay></app-google-map-ground-overlay> -->
<!-- <app-google-map-direction-renderer></app-google-map-direction-renderer> -->
<!-- <app-home></app-home> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-main></app-main>  -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-main></app-main> -->
<!-- <app-booking-history></app-booking-history> -->
<!-- <app-chat-box></app-chat-box> -->
<!-- <app-register></app-register>  -->
<router-outlet></router-outlet>  
 <!-- <app-main></app-main>  -->
<!-- <app-rating></app-rating> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-ride-finished-dialog></app-ride-finished-dialog> -->
 <!-- <app-main></app-main>  -->
<!-- <app-audio-player></app-audio-player> -->
<!-- <app-user-chat></app-user-chat> -->
<!-- <app-new-music></app-new-music> -->
<!-- <app-after-booking></app-after-booking> -->
<!-- <app-after-booking-owner></app-after-booking-owner> -->
    <!-- <app-register></app-register>  -->
 <!-- <app-login></app-login> -->
 <!-- <app-update-profile></app-update-profile> -->
 <!-- <app-google-map-location-pointer></app-google-map-location-pointer> -->
 <!-- <app-payment-gateway></app-payment-gateway> -->
 <!-- <app-payment></app-payment> -->
 <!-- <app-user-payment-gateway></app-user-payment-gateway> -->
 <!-- <app-wallet></app-wallet> -->
 

<!-- <app-sidenav> </app-sidenav> -->
 
<!-- <app-rating> </app-rating> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-success-comp></app-success-comp> -->
<!-- <app-payment-medium></app-payment-medium> -->
<!-- <app-after-booking></app-after-booking> -->
<!-- <app-chat-box></app-chat-box> -->
<!-- <app-home> </app-home> -->


<!-- <app-user-chat></app-user-chat> -->