<p>google-map-location-pointer works!</p>
<p>map works!</p>
<table border="0" cellpadding="0" cellspacing="3">
    <tr>
        <td colspan="2">
            Source:
            <input type="text" id="txtSource" value="Bandra, Mumbai, India" style="width: 200px" />
            &nbsp; Destination:
            <input type="text" id="txtDestination" value="Andheri, Mumbai, India" style="width: 200px" />
            <br />
            <input type="button" value="Get Route" onclick="GetRoute()" />
            <hr />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="dvDistance">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="dvMap" style="width: 500px; height: 500px">
            </div>
        </td>
        <!-- <td>
            <div id="dvPanel" style="width: 500px; height: 500px">
            </div>
        </td> -->
    </tr>
    </table>
