
<div id="html">
<div id="body">
<main>
    <article class="faq-card">
  
      <div class="faq__content">
        <!-- <h1 class="faq__title">FAQ</h1> -->
        <div class="faq-section">
          <header>
            <h2 style="margin-left: 180px;margin-bottom: 10px;">FAQs</h2>
            <p style="color: rgb(52, 52, 185);">Answers to the most frequently asked questions.</p>
          </header>
          <details>
            <summary>
              <h4>How many rides can i pool per day?</h4>
              <span class="material-symbols-outlined">expand_more</span>
            </summary>
            <p>You can invite up to 2 additional users on the Free plan. There is no limit on
              team members for the Premium plan.</p>
          </details>
          <hr>
          <details>
            <summary>
              <h4>What is the maximum number of passengers?</h4>
              <span class="material-symbols-outlined">expand_more</span>
            </summary>
            <p>According to the number of seats available on vehicles. It will be shown to the clients</p>
          </details>
          <hr>
          <details>
            <summary>
              <h4>How do I reset my password?</h4>
              <span class="material-symbols-outlined">expand_more</span>
            </summary>
            <p>Click “Forgot password” from the login page or “Change password” from your profile
              page.
              A reset link will be emailed to you.</p>
          </details>
          <hr>
          <details>
            <summary>
              <h4>Can I cancel my ride?</h4>
              <span class="material-symbols-outlined">expand_more</span>
            </summary>
            <p>Yes! Send us a message and we’ll process your request no questions asked.</p>
          </details>
          <hr>
          <details>
            <summary>
              <h4>Do you provide additional support?</h4>
              <span class="material-symbols-outlined">expand_more</span>
            </summary>
            <p>Chat and email support is available 24/7. Phone lines are open during normal business
              hours.</p>
          </details>
        </div>
        

      </div>
  
      <div class="imgs__container">
        <picture>
          <source media="(min-width:900px)" srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/bg-pattern-desktop.svg">
          <source media="(min-width:0px)" srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/bg-pattern-mobile.svg">
          <img class="img-bg" src="" alt="" aria-hidden=“true”>
        </picture>
        <picture>
          <source media="(min-width:900px)" srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-woman-online-desktop.svg">
          <source media="(min-width:0px)" srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-woman-online-mobile.svg">
          <img class="img-woman" src="" alt="" aria-hidden=“true”>
        </picture>
  
      </div>
      <picture>
        <source media="(min-width:900px)" srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-box-desktop.svg">
        <img class="img-box" src="" alt="" aria-hidden=“true”>
      </picture>
  
    </article>
  
  </main>
  
</div>
</div>




















