
<!-- <div style="height: auto;width: auto;background-color: rgb(4, 36, 1);">
<h1 style="color: white ;padding-left:50px ;padding-right: 50px;">Your ride has been ended with  {{email}}, Thank You for choosing Poolify</h1>
</div> -->
<div id="dialog-content">
<div class="container-fluid " id="top" >

    <div class="pagehead">
    <h2 class="fade-in one intro">Hi, {{userName}}</h2>
    <h3 class="fade-in two blurb" style="font-size: larger;font-weight: bolder; margin-top: 30px;color: rgb(0, 0, 0);font-family: 'Courier New', Courier, monospace;">Your Ride has been ended with {{email}} .... Thank You for choosing Poolify!!!...</h3>
        <button type="submit" (click)="openRating()">OK</button>
</div>
    </div>
</div>