<div class="about-section">
    <div class="inner-container">
        <h1 style="color: #08B783; margin-left: 450px;margin-top: -20px;" >About Us</h1>
        <h2 class="text" style="font-size: large;font-weight: 400;">
            We made carpooling easier than ever. Sharing a carpool is a great way to travel. 
            It's <b>affordable, comfortable and eco-friendly! </b>If you're driving with an empty car, 
            consider publishing a carpool ride on <b> P-o-o-lify </b> to save costs and travel with some company. 
            Our community of carpoolers is the most trustworthy in the world. 
        </h2>
            <h2 class="text" style="font-size: large;font-weight: 400;">Ride-sharing is the future of <b>mobility.</b> Yes, we often make this statement as traffic congestion is increasing day-by-day. Shared mobility is the way to go forward as the number of vehicles on the road are increasing at a rapid rate. So, what is this shared mobility all about and how it will change the way we think about the daily commute? It’s time to address the elephant in the room!

                <b>Ride-sharing</b> is nothing but sharing your private vehicle with other passengers travelling on the same route. We all know that sharing is caring and this also applies for shared mobility.
                Enjoy a better travel experience
             with <b>P-o-o-lify.</b> </h2>
        <div class="skills">
            <span class="active" (click)="goMain()" style=" background: linear-gradient(145deg, #08B783 0%, #298096 100%);">Book Now</span>
            <span class="active" routerLink="/sidenav/faq" style=" background: linear-gradient(145deg, #08B783 0%, #298096 100%);">FAQ's</span>
        </div>
    </div>
</div>
